$header-text-color: #F2F2F2;
$header-text-color-darker: #F2F2F2;
$content-text-color: #444;
$heading-fontstack: "Raleway", "Open Sans", helvetica, arial, sans-serif; 
$accent-color: #029eb4;
$accent-color-4: #ed8955;
$accent-color-3: #ffe97a;
$accent-color-2: #52d4e2;