/*GLOBAL*/
@import "global/variables";
@import "global/global-styles";
@import "global/decorations";
/*NAVBAR*/
@import "sections/navbar";

/*HEADER*/
@import "sections/header";

/*CONTENT*/

/* FEATURES */
@import "sections/features";
/* PORTFOLIO */
@import "sections/portfolio";

/* TESTIMONIALS */
@import "sections/testimonials";

/* CONTACT */
@import "sections/contact";

/*FOOTER*/
@import "sections/footer";

/* MISC */

.anchor{
    display: block;
    position: relative;
    top: -53px;
    visibility: hidden;
}
.anchor-contact{
	top: -82px;
}

@media (max-width: 992px) {
	.anchor{
		top: -78px;
	}
}
