/*GLOBAL*/
body, html {
  height: 100%;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #F2F2F2;
  box-sizing: border-box; }

/*NAVBAR*/
.nav-item {
  /* 	text-transform: uppercase;
 */ }

.nav-item .nav-link {
  font-size: 1.4rem; }

.navbar {
  padding: 1rem 1rem;
  position: absolute !important; }
  .navbar a {
    color: #F2F2F2; }
  .navbar li {
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0 1rem; }

.navbar-inverse .navbar-nav .nav-link {
  color: #F2F2F2; }

.navbar-inverse .navbar-nav .nav-link:hover {
  color: #F2F2F2; }

.navbar-alt {
  background-color: rgba(255, 255, 255, 0); }

.fa-bars {
  color: #444; }

.navbar a.navbar-brand {
  font-size: 2.5rem !important;
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  margin-left: 2rem;
  color: #F2F2F2; }

#contact-link {
  border: 3px solid #029eb4;
  font-size: 1.5rem;
  margin-right: 50px;
  color: #029eb4; }

@media (max-width: 992px) {
  .navbar {
    padding: 0.2rem 1rem; }
  .navbar-alt {
    background-color: white; }
  .navbar-inverse .navbar-nav .nav-link {
    color: #444;
    text-align: left !important; }
  .navbar-inverse .navbar-nav .nav-link:hover {
    color: #444; }
  .navbar-brand {
    color: #444 !important; }
  .navbar-toggler {
    margin-top: 8px; } }

/*HEADER*/
.main-header {
  background: url(../img/webdev1.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }

.header-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center; }

.header-text {
  color: #F2F2F2;
  text-align: center; }

.header-text h1 {
  font-size: 5.3rem;
  font-weight: 700;
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  text-transform: uppercase; }

.header-text hr {
  border-bottom: 3px solid;
  width: 25%;
  color: #029eb4; }

.header-text h2 {
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #F2F2F2; }

.call-to-action {
  display: inline-block;
  /* 	font-family: $heading-fontstack;
 */
  color: #F2F2F2;
  background-color: transparent;
  font-size: 1.6rem;
  border: 3px solid white;
  padding: 5px 10px;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: 700;
  /* 	text-transform: uppercase;
 */
  transition: 0.8s; }

.call-to-action:hover {
  background-color: #029eb4;
  color: white;
  border: 3px solid transparent;
  decoration: none; }

@media (max-width: 992px) {
  .main-header {
    height: 100vh; }
  .header-text h1 {
    font-size: 2.9rem; }
  .header-text h2 {
    font-size: 2rem; } }

/*CONTENT*/
.content-text {
  margin: 2.5rem 0;
  text-align: center;
  color: #444; }

.content-title {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 0.3px;
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  text-align: center;
  color: #029eb4;
  margin-top: 2rem; }

.content-subtitle {
  font-size: 1.4rem;
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif; }

.description-heading {
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  font-size: 2.3rem;
  color: #444; }

.description-content {
  font-size: 1.3rem;
  color: #444; }

.content-info {
  font-size: 0.8rem;
  color: #444; }

.content-image {
  border-radius: 5px;
  /* 	box-shadow: 0px 0px 15px #777777;
 */
  margin-bottom: 2rem; }

.content-section {
  text-align: center; }
  .content-section p {
    text-align: left; }

.more-link {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #ed8955;
  border: 2px solid #F2F2F2;
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  font-weight: 900;
  vertical-align: bottom; }

.more-link:hover {
  color: #ed8955; }

/* FEATURES */
.content-title-features {
  margin-top: 2rem;
  margin-bottom: 4rem; }

.icons-stack {
  text-align: center; }
  .icons-stack p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0rem; }
  .icons-stack .more-link {
    padding: 0;
    border: 0;
    margin-bottom: 3.5rem;
    color: #444;
    font-weight: 500;
    font-size: 1.5rem; }

.features-icon {
  font-size: 5rem;
  color: #ed8955;
  margin-bottom: 1.5rem; }

/* PORTFOLIO */
.portfolio-section {
  height: 560px;
  transition: 1s; }

.portfolio-subheading {
  font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
  text-align: left;
  color: #ed8955; }

.more-link-portfolio {
  position: absolute;
  bottom: 10px;
  left: 25%; }

/* TESTIMONIALS */
.testimonial-background {
  background: url(../img/laptop.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  border-top: 1px #999 solid;
  border-bottom: 1px #999 solid; }

.testimonial-overlay {
  background-color: rgba(0, 0, 25, 0.7);
  background-clip: border-box;
  height: 100%;
  width: 100%; }

.testimonial-text {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #F2F2F2; }
  .testimonial-text h3 {
    font-family: "Dosis", "Open Sans", helvetica, arial, sans-serif;
    text-align: center;
    font-size: 2.5rem; }
  .testimonial-text p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-style: italic; }
  .testimonial-text .testimonial-author {
    text-align: right;
    margin-right: 5rem;
    font-size: 1.1rem;
    font-weight: 100;
    color: #ed8955; }

/* CONTACT */
.contact-form input, .contact-form textarea {
  display: block;
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: white; }

.contact-form textarea {
  min-height: 18rem;
  background-color: white; }

.contact-form button {
  display: block;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #ed8955;
  border: 2px solid rgba(0, 0, 0, 0.2); }

/*FOOTER*/
.main-footer {
  text-align: center; }

.icons-main {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem; }

.copyright-text {
  font-size: 0.8rem;
  color: grey; }
