/*GLOBAL*/
body, html {
  height: 100%;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #F2F2F2;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.content-text {
  margin: 2.5rem 0;
  text-align: center;
  color: #444; }

.content-title {
  font-weight: 600;
  font-size: 2.3rem;
  letter-spacing: 0.3px;
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  text-align: center;
  color: #029eb4;
  margin-top: 2rem;
  margin-bottom: 4rem; }

.content-subtitle {
  font-size: 1.4rem;
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif; }

.description-heading {
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  font-size: 2.3rem;
  color: #444; }

.description-content {
  font-size: 1.3rem;
  color: #444;
  word-wrap: break-word; }

.services-list {
  list-style-type: none;
  text-align: left; }
  .services-list li {
    font-size: 1.1rem;
    margin: 0.3rem 0; }

.content-info {
  font-size: 0.8rem;
  color: #444; }

.content-image {
  border-radius: 5px;
  margin-bottom: 2rem; }

.content-section {
  text-align: center; }
  .content-section p {
    text-align: left; }

.more-link {
  display: none;
  padding: 10px 15px;
  font-size: 2rem;
  color: #52d4e2;
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  font-weight: 900;
  vertical-align: bottom; }

.more-link:hover {
  color: #52d4e2; }

/*NAVBAR*/
.navbar-toggler {
  margin-top: 0.28rem;
  border-top: 1px solid white !important;
  border-bottom: 1px solid white !important;
  border-left: 2px solid white !important;
  border-right: 2px solid white !important;
  padding: 0.35rem 0.5rem 0.35rem 0.5rem;
  border-radius: 0; }

.fa-bars {
  color: white;
  font-size: 40px; }

.navbar {
  position: fixed !important;
  z-index: 1000;
  background-color: #03020c !important; }

.navbar-transition {
  transition: 0.7s; }

.navbar-logo {
  margin-left: -5px;
  margin-top: 0px;
  width: 55px; }

.navbar-nav {
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  background-color: #03020c !important; }

.navbar-nav li a {
  transition: 1s;
  margin-top: 1px;
  font-size: 1.4rem;
  color: #F2F2F2 !important;
  opacity: 1; }

.navbar-nav li a:hover {
  color: #029eb4 !important; }

.navbar-nav li a:active {
  color: #029eb4 !important; }

@media screen and (min-width: 992px) {
  .navbar {
    height: 102px;
    background-color: transparent !important; }
  .navbar-nav {
    background-color: transparent !important; }
  .navbar-nav li a {
    color: #F2F2F2 !important;
    margin: 0 0.8rem;
    margin-top: 0px;
    font-size: 22.5px;
    background-color: transparent !important; }
  .navbar-logo {
    width: 85px;
    margin-left: 30px;
    position: absolute;
    top: 25px;
    border-radius: 30%; }
  .navbar-logo-transition {
    transition: 0.8s; }
  .scrolled-nav {
    height: 54px;
    background-color: #F2F2F2 !important;
    border-bottom: 1px solid lightgrey; }
    .scrolled-nav .navbar-nav li a {
      color: #029eb4 !important; }
    .scrolled-nav .navbar-nav li a:hover {
      color: #52d4e2 !important; }
    .scrolled-nav .navbar-logo {
      top: 5px;
      background-color: #029eb4;
      border-radius: 50%;
      opacity: 0.97; }
    .scrolled-nav .navbar-logo:hover {
      background-color: #52d4e2; } }

.dropdown-menu {
  background-color: #000 !important;
  opacity: 0.8; }

.dropdown-menu .dropdown-item {
  color: #F2F2F2 !important;
  background-color: black;
  font-size: 1rem;
  text-align: left;
  margin-top: 5px;
  border-bottom: 2px solid #000; }

.dropdown-item:hover {
  background-color: #000 !important; }

/*HEADER*/
.main-header {
  background: url(../img/coding1.jpg) center center;
  background-size: cover;
  /*  background-attachment: fixed;
 */
  width: 100%;
  height: 100.1vh;
  border-bottom: 1px solid lightgrey; }

.header-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 15, 0.3);
  display: flex;
  align-items: center; }

.header-text {
  color: #F2F2F2;
  text-align: left; }
  .header-text a:hover {
    color: #029eb4;
    text-decoration: none; }
  .header-text i {
    display: block;
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
    color: #029eb4; }

.header-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  text-transform: uppercase;
  margin-top: 3rem;
  color: #F2F2F2; }

.header-text hr {
  border-bottom: 2px solid;
  width: 100%;
  color: #029eb4; }

.header-text h2 {
  font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  color: #F2F2F2;
  opacity: 1; }

@media (max-width: 992px) {
  .main-header {
    margin-top: 1.5rem;
    height: 100vh; }
  .header-text h1 {
    font-size: 2.8rem; }
  .header-text h2 {
    font-size: 1.8rem; }
  .header-text i {
    margin-top: -1rem;
    font-size: 5rem; } }

/*CONTENT*/
/* FEATURES */
.features-wrap {
  background-color: #ECECEC;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background: url(../img/design1.jpg) center center;
  background-size: cover;
  background-attachment: fixed; }

.features-overlay {
  background-color: rgba(0, 0, 10, 0.9); }

.content-title-features {
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: #F2F2F2; }

.icons-stack {
  text-align: center; }
  .icons-stack p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0rem; }
  .icons-stack .more-link {
    padding: 0;
    border: 0;
    margin-bottom: 3.5rem;
    color: #444;
    font-weight: 500;
    font-size: 1.5rem; }
  .icons-stack div {
    margin-bottom: 2rem; }

.icons-stack-features {
  color: #F2F2F2; }
  .icons-stack-features .more-link {
    color: #F2F2F2; }
  .icons-stack-features h4 {
    color: #F2F2F2; }

.services-wrap {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey; }

.services-icon,
.features-icon {
  font-size: 5rem;
  color: #52d4e2;
  margin-bottom: 0.8rem; }

.features-icon {
  color: #F2F2F2; }

/* PORTFOLIO */
.portfolio-wrap {
  padding: 0rem 0 2rem 0; }

.portfolio-items [class^="col"] {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px; }

.portfolio-item {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden; }
  .portfolio-item img {
    height: auto;
    width: 110%; }

.portfolio-item-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  opacity: 0;
  background: #029eb4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  padding: 1rem;
  color: #F2F2F2; }
  .portfolio-item-overlay:hover {
    opacity: 0.9; }
  .portfolio-item-overlay h3, .portfolio-item-overlay p {
    flex-basis: 100%; }
  .portfolio-item-overlay .portfolio-link {
    align-self: flex-end; }

/* TESTIMONIALS */
.testimonial-background {
  background: url(../img/laptop.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  border-top: 1px #999 solid;
  border-bottom: 1px #999 solid; }

.testimonial-overlay {
  background-color: rgba(0, 0, 25, 0.7);
  background-clip: border-box;
  height: 100%;
  width: 100%; }

.testimonial-text {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #F2F2F2; }
  .testimonial-text h3 {
    font-family: "Raleway", "Open Sans", helvetica, arial, sans-serif;
    text-align: center;
    font-size: 2.5rem; }
  .testimonial-text p {
    font-size: 1.5rem;
    margin-top: 2rem;
    font-style: italic; }
  .testimonial-text .testimonial-author {
    text-align: right;
    margin-right: 5rem;
    font-size: 1.1rem;
    font-weight: 100;
    color: #52d4e2; }

/* CONTACT */
.contact {
  border-top: 1px solid lightgrey; }

.description-contact {
  font-size: 1rem;
  margin-top: -1rem; }

.contact-form input, .contact-form textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: white; }

.contact-form textarea {
  min-height: 14rem;
  background-color: white; }

.contact-form button {
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  color: #444;
  transition: 1s;
  font-size: 1.2rem; }

.contact-form button:hover {
  background-color: rgba(0, 0, 0, 0.2); }

/*FOOTER*/
.main-footer {
  text-align: center;
  background-color: #ECECEC;
  border-top: 1px solid lightgrey;
  margin-top: 3rem; }

.icons-main {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem; }
  .icons-main a {
    text-decoration: none; }

.fa-circle {
  color: #52d4e2; }

.fa-stack-1x {
  color: #F2F2F2; }

.copyright-text {
  font-size: 0.8rem;
  color: grey; }

/* MISC */
.anchor {
  display: block;
  position: relative;
  top: -53px;
  visibility: hidden; }

.anchor-contact {
  top: -82px; }

@media (max-width: 992px) {
  .anchor {
    top: -78px; } }
