.main-footer{
  text-align: center;
  background-color: #ECECEC;
  border-top: 1px solid lightgrey;
  margin-top: 3rem;
}
.icons-main{
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  a{
    text-decoration: none;
  }
}
.fa-circle{
  color: $accent-color-2;
}
.fa-stack-1x{
  color: $header-text-color;
}
.copyright-text{
  font-size: 0.8rem;
  color: grey;
}