.portfolio-wrap{
  padding: 0rem 0 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid lightgrey;
}

.portfolio-items [class^="col"] {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.portfolio-item {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  img {
    height: auto;
    width: 110%; 
  }
  .thumbnail-3 {
    width: 200%;
  }
  .thumbnail-4 {
    width: 101%;
  }
}
.portfolio-item-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $accent-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    padding: 1rem;
    color: $header-text-color;
    &:hover {
      opacity: 0.9;
    }
    h3, p {
      flex-basis: 100%;
    }
    .portfolio-link{
      position: absolute;
      bottom: 30px;
      a {
        color: #f2f2f2;
      }
    }

}


@media (max-width: 992px) {

}